
main{
    background-color: 
    min-height 75hv;
    
    h1, h2, h3,h4 {
        font-family: 'Montserrat';
        color: $fc;
    }
    h5, h6{
        font-family: 'Montserrat';
        color: $fc;
        padding: 2px; 
    }
    
    .btn {
        transition: all 2s;
    }
    .btn:hover{
        transform: scale(1.1,1.1);
    }

    .img1 {
        object-fit: cover;
        height: 100%;
    }
   .padre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
        
    .fotoadopcion{
        border-radius: 20;
        padding: 10px;
        opacity: .8;
        transition: all 2s;
    }
    .fotoadopcion:hover{
        transform: scale(1.1,1.1);
        opacity: 1;
        
    }
    .nombre{
        text-decoration: none;
    }

    

   
}

