<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Proyecto Adoptar es una organizacion sin fines de lucro que opera realizando rescates de gatos y perros, facilitando adopciones reponsables y habilitando el encuentro de interesados en participar en dichas tareas">
    <meta name="keywords" content="Adopción responsable, Perros en adopción, Gatos en adopción, Rescate de animales">
    <link rel="shortcut icon" href="../assets/img/faviconLogo/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat:wght@100;500;600&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Proyecto Adoptar - Adopción de Perros</title>
   
</head>

<body>
    <header class="navBack mb-4">
        <nav class="navbar d-flex justify-content-around navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img
                        src="../assets/img/logoround.png"
                        alt="Logo"
                        width="70"
                        height="70"
                        class="d-inline-block align-text-top">
                        <a class="navbar-brand" href="../index.html">
                            <p class="nombre d-inline-block p-2">PROYECTO ADOPTAR</p>
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active p-3" aria-current="page" href="../index.html">INICIO</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">ADOPCIONES</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="./adopciondegatos.html">Adopción de Gatos</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./adopciondeperros.html">Adopción de Perros</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">COLABORÁ</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="./donaciones.html">Donaciones</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./voluntariado.html">Voluntariado</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active p-3" href="./nosotros.html">NOSOTROS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active p-3" href="./contacto.html">CONTACTO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active p-3" href="./registrate.html">REGISTRATE</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
    <section class="text-center p-3 m-3">
        <div>
            <h1>PERROS EN ADOPCIÓN</h1>
            
    </section>
  
    

    <section class="padre">
        <div class="fotoadopcion">
            <a href="#formularioadopcion"><img class="rounded" src="../assets/fotos/perros/adopcionperro1.jpg" alt="foto perro en adopción Carmelo"></a>
            <p class="text-center fs-4">Carmelo</p>
            <p class="text-center fs-6">Macho / 2 meses</p>
            
        </div>
        <div class="fotoadopcion">
            <a href="#formularioadopcion"><img class="rounded" src="../assets/fotos/perros/adopcionperro02.jpg" alt="foto perro en adopción Malvina"></a>
            <p class="text-center fs-4">Malvina</p>
            <p class="text-center fs-6">Hembra / 1 año</p>
        </div>
        <div class="fotoadopcion">    
            <a href="#formularioadopcion"><img class="rounded" src="../assets/fotos/perros/adopcionperro03.jpg" alt="foto perro en adopción Cartucho"></a>
            <p class="text-center fs-4">Cartucho</p>
            <p class="text-center fs-6">Macho / 2 años</p>
               
        </div>
        <div class="fotoadopcion">
            <a href="#formularioadopcion"><img class="rounded" src="../assets/fotos/perros/adopcionperro04.jpg" alt="foto perro en adopción Selva"></a>
            <p class="text-center fs-4">Selva</p>
            <p class="text-center fs-6">Hembra / 2 meses</p>
        </div>
         <div class="fotoadopcion">
            <a href="#formularioadopcion"><img class="rounded" src="../assets/fotos/perros/adopcionperro05.jpg" alt="foto perro en adopción Dragón"></a>
            <p class="text-center fs-4">Dragón</p>
            <p class="text-center fs-6">Macho / 3 años</p>
        </div>
        <div class="fotoadopcion">
            <a href="#formularioadopcion"><img class="rounded" src="../assets/fotos/perros/adopcionperro06.jpg" alt="foto perro en adopción Magui"></a>
            <p class="text-center fs-4">Megui</p>
            <p class="text-center fs-6">Hembra / 1 año</p>
        </div>
         <div class="fotoadopcion">
            <a href="#formularioadopcion"><img class="rounded" src="../assets/fotos/perros/adopcionperro07.jpg" alt="foto perro en adopción Celia"></a>
            <p class="text-center fs-4">Celia</p>
            <p class="text-center fs-6">Hembra / 2 años</p>
        </div>
        <div class="fotoadopcion">
            <a href="#formularioadopcion"><img class="rounded" src="../assets/fotos/perros/adopcionperro08.jpg" alt="foto perro en adopción Caruso"></a>
            <p class="text-center fs-4">Caruso</p>
            <p class="text-center fs-6">Macho / 1 año</p>
        </div>
        <div class="fotoadopcion">
            <a href="#formularioadopcion"><img class="rounded" src="../assets/fotos/perros/adopcionperro09.jpg" alt="foto perro en adopción Nilo"></a>
            <p class="text-center fs-4">Nilo</p>
            <p class="text-center fs-6">Macho / 5 años</p>
        </div>
        <div class="fotoadopcion">
            <a href="#formularioadopcion"><img class="rounded" src="../assets/fotos/perros/adopcionperro10.jpg" alt="foto perro en adopción Princesa"></a>
            <p class="text-center fs-4">Princesa</p>
            <p class="text-center fs-6">Hembra / 11 meses</p>
        </div>
        <div class="fotoadopcion">
            <a href="#formularioadopcion"><img class="rounded" src="../assets/fotos/perros/adopcionperro11.jpg" alt="foto perro en adopción Anastasia"></a>
            <p class="text-center fs-4">Anastasia</p>
            <p class="text-center fs-6">Hembra / 1 año</p></a>
        </div>
        <div class="fotoadopcion">
            <a href="#formularioadopcion"><img class="rounded" src="../assets/fotos/perros/adopcionperro12.jpg" alt="foto perro en adopción Enriqueta"></a>
            <p class="text-center fs-4">Enriqueta</p>
            <p class="text-center fs-6">Hembra / 1 año y medio</p></a>
        </div>
    </section>
    

    <section class="container my-5">
        <section class="row">
            <section class="col-12 bg-info bg-opacity-25 rounded">
                <form>
                    <div class="row g-3 m-3">
                        <p class="fs-2 text-center" id="formularioadopcion">Formulario de Adopción</p>
                    </div>
                    <div class="row g-3 m-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="name" class="form-label"><p class="fs-5">Nombre</p></label>
                            <input type="text" name="name" class="form-control" aria-describedby="" placeholder="Juan">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="surname" class="form-label"><p class="fs-5">Apellido</p></label>
                            <input type="text" class="form-control" name="surname" placeholder="Pérez" id="surname" aria-describedby="">
                        </div>
                    </div>
                    <div class="row g-3 m-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="cel" class="form-label"><p class="fs-5">Celular</p></label>
                            <input type="text" name="cel" class="form-control" aria-describedby="" placeholder="011-5555-5555">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="surname" class="form-label"><p class="fs-5">Localidad</p></label>
                            <input type="text" class="form-control" name="surname" placeholder="Capital Federal" id="surname" aria-describedby="">
                        </div>
                    </div>
                    <div class="row g-3 m-3 mb-10">  
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="email" class="form-label"><p class="fs-5">Correo Electrónico*</p></label>
                            <input type="email" class="form-control" placeholder="example@gmail.com" id="email" aria-describedby="" required> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="text" class="form-label"><p class="fs-5">Nombre del perro que querés adoptar</p></label>
                            <input type="text" class="form-control" id="">
                        </div>
                    <div>
                        <div>
                            <label for="text" class="form-label"><p class="fs-5">Consulta</p></label>
                        </div>
                        <div class="form-floating h-90">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Detallanos tu consulta</label>
                        </div>                 
                    </div>   
                    <div class="mb-3 form-check m-auto py-4 d-flex justify-content-center">
                        <div>
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label" for="">Me comprometo a leer las condiciones de adopción que se enviarán vía mail.</label>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-info text-white fw-bolde">Enviar Consulta</button>
                    </div>
                  </form>
            </section>
        </section>
    </section>
    </main>
    <footer>
        <ul class="containerFooter">
            <li class="ir-inicio">
                <a href="#top">Ir al Inicio</a>   
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <img class="logoredes"
                        src="/assets/fotos/logos/logoinstagram2.png"
                        alt="Logo"
                        width="70"
                        height="70"
                        class="d-inline-block align-text-top">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <img class="logoredes"
                        src="/assets/fotos/logos/logofacebook2.jpg"
                        alt="Logo"
                        width="70"
                        height="70"
                        class="d-inline-block align-text-top">
                </a>
            </li>
            <li>
                <a  href="https://www.twitter.com/" target="_blank">
                    <img class="logoredes"
                        src="/assets/fotos/logos/logotwitter2.png"
                        alt="Logo"
                        width="70"
                        height="70"
                        class="d-inline-block align-text-top">
                </a>
            </li>
            <li>© 2022 Proyecto Adoptar, todos los derechos registrados.</li>
        </ul>
        </footer>
    <!-- JavaScript Bundle with Popper -->
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
crossorigin="anonymous"></script>
<script src="js/wow.min.js"></script>
</body>
</html>