<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Proyecto Adoptar es una organizacion sin fines de lucro que opera realizando rescates de gatos y perros, facilitando adopciones reponsables y habilitando el encuentro de interesados en participar en dichas tareas">
        <meta name="keywords" content="Adopción responsable, Perros en adopción, Gatos en adopción, Rescate de animales">
    <link rel="shortcut icon" href="../assets/img/faviconLogo/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat:wght@100;500;600&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Proyecto Adoptar - contacto</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <header class="navBack mb-4">
        <nav class="navbar d-flex justify-content-around navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img
                        src="../assets/img/logoround.png"
                        alt="Logo"
                        width="70"
                        height="70"
                        class="d-inline-block align-text-top">
                        <a class="navbar-brand" href="../index.html">
                            <p class="nombre d-inline-block p-2">PROYECTO ADOPTAR</p>
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active p-3" aria-current="page" href="../index.html">INICIO</a>
                            <li class="nav-item dropdown">
                                <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">ADOPCIONES</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="./adopciondegatos.html">Adopción de Gatos</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="./adopciondeperros.html">Adopción de Perros</a>
                                    </li>
                                </ul>
                            </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">COLABORÁ</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="./donaciones.html">Donaciones</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./voluntariado.html">Voluntariado</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active p-3" href="./nosotros.html">NOSOTROS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active p-3" href="./contacto.html">CONTACTO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active p-3" href="./registrate.html">REGISTRATE</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <br>
        <div class="contact">
            <h1 class="text-center">Escribinos tu consulta</h1>
        </div>
        <hr>
        <section class="container">
            <section class="row">
                <section class="col-12 bg-info bg-opacity-25 rounded">
                    <form>
                        <div class="row g-3 m-5">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="name" class="form-label"><h5>Nombre</h5></label>
                                <input type="text" name="name" class="form-control" id="name" aria-describedby="" placeholder="Juan">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="surname" class="form-label"><h5>Apellido</h5></label>
                                <input type="text" class="form-control" name="surname" placeholder="Pérez" id="surname" aria-describedby="">
                            </div>
                        <div class="row g-3 mb-10">  
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="email" class="form-label"><h5>Correo Electrónico*</h5></label>
                                <input type="email" class="form-control" placeholder="example@gmail.com" id="email" aria-describedby="" required> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="text" class="form-label"><h5>Asunto</h5></label>
                                <input type="text" class="form-control" id="">
                            </div>
                        <div>
                            <div>
                                <label for="text" class="form-label"><h5>Consulta</h5></label>
                            </div>
                            <div class="form-floating h-90">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Detallanos tu consulta</label>
                            </div>                 
                        </div>   
                        <div class="mb-3 form-check m-auto py-4 d-flex justify-content-center">
                            <div>
                                <input type="checkbox" class="form-check-input" id="">
                                <label class="form-check-label" for="">Acepto recibir respuesta al correo electrónico informado.</label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-info text-white fw-bolde">Enviar Consulta</button>
                        </div>
                      </form>
                </section>
            </section>
        </section>
  

    </main>
    <footer>
        <ul class="containerFooter">
            <li class="ir-inicio">
                <a href="#top">Ir al Inicio</a>   
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <img class="logoredes"
                        src="/assets/fotos/logos/logoinstagram2.png"
                        alt="Logo"
                        width="70"
                        height="70"
                        class="d-inline-block align-text-top">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <img class="logoredes"
                        src="/assets/fotos/logos/logofacebook2.jpg"
                        alt="Logo"
                        width="70"
                        height="70"
                        class="d-inline-block align-text-top">
                </a>
            </li>
            <li>
                <a  href="https://www.twitter.com/" target="_blank">
                    <img class="logoredes"
                        src="/assets/fotos/logos/logotwitter2.png"
                        alt="Logo"
                        width="70"
                        height="70"
                        class="d-inline-block align-text-top">
                </a>
            </li>
            <li>© 2022 Proyecto Adoptar, todos los derechos registrados.</li>
        </ul>
        </footer>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
    
