<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/faviconLogo/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat:wght@100;500;600&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Proyecto</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <header class="navBack mb-4">
        <nav class="navbar d-flex justify-content-around navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img
                        src="../assets/img/logoround.png"
                        alt="Logo"
                        width="70"
                        height="70"
                        class="d-inline-block align-text-top">
                    <p class="nombre d-inline-block p-2">PROYECTO ADOPTAR</p>
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active p-3" aria-current="page" href="../index.html">INICIO</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active p-3 " href="./adopciones.html">ADOPCIONES</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">COLABORÁ</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="./donaciones.html">Donaciones</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./voluntariado.html">Voluntariado</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active p-3" href="./nosotros.html">NOSOTROS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active p-3" href="./contacto.html">CONTACTO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active p-3" href="./registrate.html">REGISTRATE</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


<main>
    <section class="text-center">
        <div>
            <h1>TU AYUDA ES ESCENCIAL</h1>
        </div>
        <div>
            <h2>
                Con tu aporte salvas vidas
            </h2>
        </div>
        <div>
        <h3>
            Todos los aportes son destinados a tareas sanitarias, de zoonosis y asistencialismo. Mediante la ayuda de todos nuestros colaboradores podemos financiar honorarios veterinarios, estudios médicos, campañas de castración, tratamientos y generar difusión. 
        </h3>
        </div>
    </section>
    <section class="text-center">
        <h2>
            Transferencia Bancaria
        </h2>
        <h4>
            <li>Banco Provincia</li>
            <li>Asociación Civil Proyecto 4 Patas</li>
            <li>Cuenta Corriente en pesos Nº 50634/8</li>
            <li>Sucursal Nº: 05002 – San Antonio de Padua</li>
            <li>CBU: 0140059501500205063480</li>
            <li>CUIT: 30-71080554-3</li>
            <li>Alias: PROYECTO-ADOPTAR</li>
        </h4>
    </section>
</main>
<footer>
    <ul class="containerFooter">
        <li class="ir-inicio">
            <a href="#top">Ir al Inicio</a>
        </li>
        <li>© 2022 Proyecto Adoptar, todos los derechos registrados.</li>
    </ul>
    </footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
