<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Proyecto Adoptar es una organizacion sin fines de lucro que opera realizando rescates de gatos y perros, facilitando adopciones reponsables y habilitando el encuentro de interesados en participar en dichas tareas">
    <meta name="keywords" content="Adopción responsable, Perros en adopción, Gatos en adopción, Rescate de animales">
    <link rel="shortcut icon" href="../assets/img/faviconLogo/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat:wght@100;500;600&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>Proyecto Adoptar - Voluntarios</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<header class="navBack mb-4">
    <nav class="navbar d-flex justify-content-around navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img
                    src="../assets/img/logoround.png"
                    alt="Logo"
                    width="70"
                    height="70"
                    class="d-inline-block align-text-top">
                    <a class="navbar-brand" href="../index.html">
                        <p class="nombre d-inline-block p-2">PROYECTO ADOPTAR</p>
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active p-3" aria-current="page" href="../index.html">INICIO</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">ADOPCIONES</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="./adopciondegatos.html">Adopción de Gatos</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./adopciondeperros.html">Adopción de Perros</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">COLABORÁ</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="./donaciones.html">Donaciones</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./voluntariado.html">Voluntariado</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active p-3" href="./nosotros.html">NOSOTROS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active p-3" href="./contacto.html">CONTACTO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active p-3" href="./registrate.html">REGISTRATE</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="container">
    <section class="text-center p-3">
        <p class="fs-1">CONOCÉ LAS ACTIVIDADES DE NUESTROS VOLUNTARIOS</p>
    </section>
    <section class="row">
        <section class="col-lg-6 col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide justify-content-center" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../assets/fotos/voluntarios/voluntariado01.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/fotos/voluntarios/voluntariado02.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/fotos/voluntarios/voluntariado03.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/fotos/voluntarios/voluntariado04.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/fotos/voluntarios/voluntariado05.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/fotos/voluntarios/voluntariado06.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </section> 
            <section class="col-lg-6 col-md-12 col-sm-12 bg-warning bg-opacity-25 rounded justify-content-center align-text-center">
                <p class="fs-5 justify-content-center align-text-center p-3">
                    Nuestros voluntarios son una parte fundamental de nuestra organización. Gracias a ellos podemos organizar campañas de vacunación, castración y controles médicos en más de 15 localidades del país. Ellos se encargan de organizar las donaciones, difundir las campañar, generar alertas de rescate, organizar campañas de adopción y difundir nuestra actividad a lo largo de todo el país. Si te interesa participar de este grupo de voluntarios, te invitamos a inscribirte en el formulario para recibir todas las novedades sobre nuestras campañas y actividades.  
                </p>
            </section>
    </section>
    <section class="text-center m-5">
    
        <h1>INSCRIBITE COMO VOLUNTARIO</h1>
        <div class="p-3">
            <p class="fs-5 justify-content-center">Vos también podés colaborar. Suscribite a nuestro grupo de voluntario para enterarte de nuestro calendario de actividades. Tu colaboracion es indispensable para salvar vidas.</p>
        </div>
        
    </section>
    <section class="container">
        <section class="container m-5">
            <section class="row">
                <section class="col-12 bg-success bg-opacity-25 rounded">
                    <form>
                        <div class="row g-3 m-3">
                            <p class="fs-2 text-center">Formulario de Incripción como Voluntario</p>
                        </div>
                        <div class="row g-3 m-3">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="name" class="form-label"><p class="fs-5">Nombre</p></label>
                                <input type="text" name="name" class="form-control" aria-describedby="" placeholder="Juan">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="surname" class="form-label"><p class="fs-5">Apellido</p></label>
                                <input type="text" class="form-control" name="surname" placeholder="Pérez" id="surname" aria-describedby="">
                            </div>
                        </div>
                        <div class="row g-3 m-3">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="cel" class="form-label"><p class="fs-5">Celular</p></label>
                                <input type="text" name="cel" class="form-control" aria-describedby="" placeholder="011-5555-5555">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="surname" class="form-label"><p class="fs-5">Localidad</p></label>
                                <input type="text" class="form-control" name="surname" placeholder="Capital Federal" id="surname" aria-describedby="">
                            </div>
                        </div>
                        <div class="row g-3 m-3 mb-10">  
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="email" class="form-label"><p class="fs-5">Correo Electrónico*</p></label>
                                <input type="email" class="form-control" placeholder="example@gmail.com" id="email" aria-describedby="" required> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="text" class="form-label"><p class="fs-5">Profesión / Actividad</p></label>
                                <input type="text" class="form-control" id="">
                            </div>
                        <div>
                            <div>
                                <label for="text" class="form-label"><p class="fs-5">Contanos en qué actividades te gustaría participar</p></label>
                            </div>
                            <div class="form-floating h-90">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Detallanos tu consulta</label>
                            </div>                 
                        </div>   
                        <div class="mb-3 form-check m-auto py-4 d-flex justify-content-center">
                            <div>
                                <input type="checkbox" class="form-check-input" id="">
                                <label class="form-check-label" for="">Acepto recibir información sobre las actividades de voluntariado en mi correo electrónico.</label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-success text-white fw-bolde">Enviar Consulta</button>
                        </div>
                      </form>
                </section>
            </section>
        </section>
    </section>

  
</main>
<footer>
    <ul class="containerFooter">
        <li class="ir-inicio">
            <a href="#top">Ir al Inicio</a>   
        </li>
        <li>
            <a href="https://www.instagram.com/" target="_blank">
                <img class="logoredes"
                    src="../assets/fotos/logos/logoinstagram2.png"
                    alt="Logo"
                    width="70"
                    height="70"
                    class="d-inline-block align-text-top">
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/" target="_blank">
                <img class="logoredes"
                    src="../assets/fotos/logos/logofacebook2.jpg"
                    alt="Logo"
                    width="70"
                    height="70"
                    class="d-inline-block align-text-top">
            </a>
        </li>
        <li>
            <a  href="https://www.twitter.com/" target="_blank">
                <img class="logoredes"
                    src="../assets/fotos/logos/logotwitter2.png"
                    alt="Logo"
                    width="70"
                    height="70"
                    class="d-inline-block align-text-top">
            </a>
        </li>
        <li>© 2022 Proyecto Adoptar, todos los derechos registrados.</li>
    </ul>
    </footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>

